* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  color: #bd8b5e;
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 10px;

}
.fo-creat {
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 30px;
  margin: 15px 155px;
}
img {
  width: 268px;
  text-align: center;
  padding: 10px;
}
.btn{
  margin-right: 2px;
}
.card {
  margin: 12px;
}